.wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 60px;
}

.container {
    width: 992px;
    margin: auto;
    border: 1px solid #8396c3;
    border-radius: 8px 8px 0 0;
    display: flex;
    flex-direction: column;
    background-color: #f9fafb;
}

.listHrefContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.listHref {
    font-weight: 600;
    font-size: 24px;
    color: #366f91;
    text-decoration: none;
    text-align: center;
}
.listHref:hover{
    color: #4e93b6;
    text-decoration: underline;
}

.bodyBlock{
    padding: 0 10px;
    border: 1px solid #8396c3;
}