.wrapper {
    width: 100vw;
    padding-top: 60px;
    padding-bottom: 400px;
    background-color: #0d1c3d;
}

.container {
    width: 1800px;
    margin: auto;
    border-radius: 22px 22px 0 0;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: #f9fafb;
}

.listHrefContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

.listHref {
    font-weight: 600;
    font-size: 32px;
    color: #0d1c3d;
    text-decoration: none;
    text-align: center;
}
.listHref:hover{
    color: #4e93b6;
    text-decoration: underline;
}

.bodyBlock{
    padding: 0 10px;
}