.wrapper {
    width: 100vw;
    background-color: #0d1c3d;
}

.cookieAttention {
    max-width: 2200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.listHrefContainer {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-top: 20px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #1d3876;
    padding: 34px 20px 38px 20px;
    cursor: pointer;
    margin-left: calc(50% - 300px);
}

.listHrefContainer:hover {
    background-color: #2b60c7;
}

.listHref {
    font-weight: 600;
    font-size: 32px;
    text-shadow: 1px 0 1px #000,
    0 1px 1px #000,
    -1px 0 1px #000,
    0 -1px 1px #000;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.listHref:hover {
    color: #fff;
}

@media (max-width: 1360px) {
    .cookieAttention {
        gap: 0;
    }
}

@media (max-width: 600px) {
    .listHrefContainer {
        width: 300px;
        margin-left: calc(50% - 150px);
    }

    .listHref {
        font-size: 20px;
    }
}
