.headerContainer {
    height: 225px;
    width: 992px;
    border-radius: 7px 7px 0 0;
}

.headerDescription {
    color: #ecf4f8;
    background-color: transparent;
    width: 500px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerTitle {
    font-weight: 600;
    font-size: 40px;
    line-height: 0;
}

.headerCity, .headerContacts {
    font-weight: 600;
    font-size: 24px;
    line-height: 0;
}