.cookieAttention {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    background-color: #fff;
    opacity: 0.8;
}

.text {
    width: 88vw;
    padding-left: 20px;
    font-size: 28px;
    color: #939393;
}

.cookieConfirmation {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    opacity: 0.8;
}

.acceptButton {
    padding: 2px 120px 6px 120px;
    border: 4px solid #f1c8c8;
    border-radius: 16px;
    background-color: #fafafa;
    color: #888888;
    font-size: 40px;
    font-weight: 400;
}

@media (max-width: 1360px) {
    .text {
        font-size: 24px;
    }
}

@media (max-width: 800px) {
    .text {
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .text {
        font-size: 16px;
    }
}

@media (max-width: 300px) {
    .text {
        font-size: 14px;
    }
}



